:root {
    --tooltip-content: "copy";
}
body {
    font-family: "Nunito", sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
    border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8da9c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #154783;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #113c70;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #001233;
}
.emojis-container-box {
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10px;
    border-radius: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #13315c;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 0 20px #090033;
    overflow: hidden;
    .head {
        height: 50px;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 108%;
        background-color: #0b2545;
        h2 {
            font-size: 1.25rem;
            font-weight: 500;
            color: #eef4ed;
        }
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        // border-bottom: 1px solid #d8d8d8;

        li {
            flex: 1;
            .show-emoji {
                position: relative;
                background-color: transparent;
                border: none;
                outline: none;
                width: 100%;
                height: 50px;
                z-index: 1;
                svg {
                    fill: #2877d6;
                    width: 25px;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 2px;
                    border-radius: 2px;
                    bottom: 0;
                    left: 50%;
                    background-color: #fca311;
                    transition: all 0.1s linear;
                }
                &:hover::before {
                    width: 100%;
                    left: 0%;
                }
            }
            .button-active {
                svg {
                    fill: #fca311;
                }
            }
            .button-active::before {
                width: 100%;
                left: 0%;
            }
        }
    }
    .group {
        margin-top: 0.75rem;
        position: relative;
        width: 500px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        .subgroup {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            list-style: none;
            position: absolute;
            width: 500px;
            height: 600px;
            transition: all 0.2s;
            float: left;
            overflow: auto;
            .emojis {
                float: left;
                position: relative;
                margin: 0.5rem;
                width: 45px;
                z-index: 1;
                img {
                    width: 45px;
                    pointer-events: none;
                    transition: all 0.2s;
                }
                &::before {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    content: var(--tooltip-content);
                    color: #eef4ed;
                    font-size: 0.75rem;
                    text-align: center;
                    top: -5px;
                    width: 50px;
                    padding: 5px 0px;
                    background-color: #33415cea;
                    left: 50%;
                    transform: translate(-50%, 50%) scale(0.5);
                    z-index: 1;
                    border-radius: 0.25rem;
                    transition: all 0.3s;
                }
                &::after {
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: #33415cea;
                    top: 16px;
                    left: 50%;
                    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
                    transform: translate(-50%, 50%) scale(0.5);
                    z-index: 0;
                    transition: all 0.3s;
                }
                &:hover img {
                    transform: scale(1.1);
                }
                &:hover::before,
                &:hover::after {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, 0%) scale(1);
                }
            }
        }
        .active {
            visibility: visible;
            opacity: 1;
            pointer-events: all;
            list-style: none;
        }
    }
}
.contact-container {
    background-color: #13315c;
    box-shadow: 0 0 20px #090033;
    position: absolute;
    top: 760px;
    width: 540px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    svg {
        width: 35px;
        fill: #2877d6;
        transition: all 0.2s;

        &:hover {
            fill: #fca311;
        }
    }
    a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        &::before {
            opacity: 0;
            visibility: hidden;
            content: attr(title);
            position: absolute;
            top: -40px;
            left: 50%;
            float: left;
            white-space: nowrap;
            transform: translate(-50%, 50%) scale(0.5);
            color: #eef4ed;
            pointer-events: none;
            height: auto;
            width: auto;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            background-color: #33415c;
            transition: all 0.3s;
        }
        &::after {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            content: "";
            position: absolute;

            width: 15px;
            height: 15px;
            background-color: #33415c;
            top: -18px;
            left: 50%;
            clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
            transform: translate(-50%, 50%) scale(0.5);
            z-index: 0;
            transition: all 0.3s;
        }
        &:hover::before,
        &:hover::after {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 0%) scale(1);
        }
    }
}
